.card {
  border: 1px solid #F8F8F8;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  margin-right: 40px;



  &:hover {
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }
  .button {
    background: #FFFFFF;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }

  .cardButton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cardButtonflex {
      display: flex;

    }

  }
}
